---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign home_mode = page.home_mode | default: 'weekly' -%}
  {%- include home-switcher.html active=home_mode -%}

  {%- if home_mode == 'digest' -%}
    {%- assign digest_count = 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains 'digest' -%}
          {%- if digest_count < 10 -%}
            {%- assign digest_count = digest_count | plus: 1 -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h3>
              <div class="post-content e-content">{{ post.content }}</div>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {%- if digest_count == 0 -%}
      <p>暂无 digest 内容。</p>
    {%- endif -%}
  {%- else -%}
    {%- assign weekly_count = 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains 'digest' -%}
        {%- else -%}
          {%- assign weekly_count = weekly_count | plus: 1 -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            {%- if weekly_count <= 2 -%}
              <div class="post-content e-content">{{ post.content }}</div>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {%- if weekly_count == 0 -%}
      <p>暂无快报内容。</p>
    {%- endif -%}
  {%- endif -%}
</div>
